{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
Editar empleado
{% endblock titulo %}
{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{e_form|crispy}}
                    {{u_form.username|as_crispy_field}}
                </div>
                <div class="col-md-6">
                    {{c_form|crispy}}
                    {{u_form.password|as_crispy_field}}
                </div>
            </div>
            <button class='btn btn-success' type="submit">
                <i class="fas fa-check"></i>
            </button>
            <a href="{% url 'empleado' %}" class="btn btn-danger">
                <i class="fas fa-times"></i>
            </a>
        </form>
    </div>
</div>
{% endblock contenido %}