{% extends 'base.html' %}
{% block titulo %}
Ventas
{% endblock titulo %}
{% block contenido %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            {% if empleado.rol == 'E' %}
                <div class="col-lg-6">
                    {% if request.session.caja_abierta %}
                        <a href="{% url 'venta_crear' %}" class="btn btn-primary">
                            <i class="fas fa-plus"></i>
                        </a>
                    {% else %}
                        Para poder crear una venta necesitar abrir una caja
                    {% endif %}
                </div>
            {% endif %}
            {% if empleado.rol == 'A' %}
                <div class="col-lg-6">
                    <a href="{% url 'venta_excel' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" target="blank">
                        <i class="fas fa-file-download fa-sm text-white-50"></i>
                        Generar Reporte
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Caja</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Descuento</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in ventas %}
                    <tr>
                        <td>{{v.id}}</td>
                        <td>{{v.fecha}}</td>
                        <td>{{v.vendedor.nombre}}</td>
                        <td>{{v.cliente.nombre}}</td>
                        <td>{{v.caja.nombre}}</td>
                        <td>{{v.producto.nombre}}</td>
                        <td>{{v.cantidad}}</td>
                        <td>${{v.subtotal}}</td>
                        <td>{{v.descuento}}</td>
                        <td>${{v.total}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'venta_pdf' v.id %}" class="btn btn-secondary" target="blank">
                                    <i class="fas fa-file-alt"></i>
                                </a>
                                <a href="{% url 'venta_ticket' v.id %}" class="btn btn-success" target="blank">
                                    <i class="fas fa-ticket-alt"></i>
                                </a>
                                <a href="{% url 'venta_detalle' v.id %}" class="btn btn-primary">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}