<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'inicio' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Punto de venta</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'inicio' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'negocio' %}">
            <i class="fas fa-building"></i>
            <span>Negocios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'empleado' %}">
            <i class="fas fa-users"></i>
            <span>Empleados</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'marca' %}">
            <i class="fas fa-registered"></i>
            <span>Marcas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cliente' %}">
            <i class="fas fa-users"></i>
            <span>Clientes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'caja' %}">
            <i class="fas fa-cash-register"></i>
            <span>Cajas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'departamento' %}">
            <i class="fas fa-building"></i>
            <span>Departamentos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'medida' %}">
            <i class="fas fa-ruler-vertical"></i>
            <span>Medidas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'producto' %}">
            <i class="fas fa-dollar-sign"></i>
            <span>Productos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'venta' %}">
            <i class="fas fa-dollar-sign"></i>
            <span>Ventas</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>